# Database
DB_HOST=database
DB_NAME=admin_db
DB_APP_USER=admin_user
DB_APP_PASSWORD=
DB_MGR_USER=admin_user
DB_MGR_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=

# Spring
SPRING_PROFILES_ACTIVE=LOCAL
X_APIKEY=

# Cognito
COGNITO_ISSUER_URI=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_DOMAIN=
COGNITO_REDIRECT_URI=
COGNITO_POST_LOGOUT_REDIRECT_URI=
# AWS Credentials (for Cognito user management)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

AUDIT_DETAIL_STORAGE=

# Magento Embed Auth
MAGENTO_JWT_PUBLIC_KEY=